

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
#root{
  border: 2px solid red;
  height: 5666.25px;
}